
.section2{
    background-image:url(dna.png), linear-gradient(-210deg, #ffffff,#aacaba, #6faa87);
    background-size:230vw auto;
    background-position-y: 80%;
    background-position-x: 15%;
    background-repeat: no-repeat;
}

.section2-content-container{
    margin:50px 0 0 82px;
}

.section2-text{
    line-height: 19px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.section2-small-text{
    font-size:10px;
    font-style: italic;
    position: relative;
    top:0;
    color:#000;
}

@media (max-width:576px){
    .section2{
        min-height:100vh;
        background-image:url("Group 155.png");
        background-size:105% auto;
        background-position-y: -10px;
        margin-bottom: 0;        
        padding-bottom: 20px;        
    }
    .section2-text{
        line-height: 20px;
        font-size: 8px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .section2-content-container{
        margin:64vh 0 0 20px;
        width:320px;
    }

}