
.leaf-anim-container {
    margin-left: 0%;
    position: relative;
    top:5%
}

.section1{
    height:100vh;
}

.landing-section1-text1 {
    display: block;
    margin: 120% 0 0 82px;
}

.landing-section1-text2 {
    display: block;
    margin: 130% 82px 0 0;
    text-align: center;
}

.mobileOnly {
    display: none;
}

.leaf-img{
    display: block;
    width: 110%;
    margin-top: 10%;
}

.mobile{
    display: none;
}

@media (max-width: 576px) {
    /* .leaf-anim-container {
        margin-top: 18%;
    } */
    .landing-section1-text1 {
        margin: 25% 0 20px 0;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%
    }
    .landing-section1-text2 {
        display: block;
        margin: 1% 0 0 0;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%
    }
    /* .leaf-static-img {
        max-width: 54%;
    }
    .leaf-anim-img {
        max-width: 54%;
    } */

    .section1{
        margin-bottom:0!important;
    }

    .desktop{
        display:none
    }
    .mobile{
        display: block;
    }
}
