.section3-image{
    width: 100%;
    height: auto;
}

.section3-content-container{
    padding:250px 80px 0 0;
}

@media (max-width:786px){

    .section3-content-container{
    padding:5% 5% 0 5%;
}

}
