.about-section2{
    background: url("source 2.png") ;
    background-size: cover;
}

.about-section2-content-container{
    margin:30% 0 0 80px;
    width:60%;
}

@media (max-width:576px){
    .about-section2-content-container{
        margin:180% 0 0 5%;
        width:320px;
    }   
}