.ncm-100-img{
    width:100%;
    height:auto;
}

.product-details-yellow{
    background-color:red;
}

.product-details-tab-container{
    margin-top:15vh;
    display:flex;
    flex-direction:row;
    width:90%;
    padding-left:30px;
    padding-right:30px;
    box-sizing:border-box;
    align-items:center;
    justify-content:space-between;
}

.prod-details-tab{
    color:#fff;
}

.prod-details-tab:hover{
    border-bottom:2px solid #fff;
}

.in-test-we-trust{
    box-sizing:border-box;
    padding:30px;
}