.ncm-100-img{
    width:100%;
    height:100%;
}

.product-details-yellow{
    background-color:#EAA921;
}

.product-details-text{
    margin-top:150px;
    padding-left:42px;
}

.in-test-img{
    margin-right:42px;
}

.key-feature-item{
    margin-bottom: 30px;
}

.key-feature-item-text{
    display: flex;
    align-items: center;
}

.key-feature-item-icon{
    width:100%;
}

.recommend-img{
    display:flex;
    flex-direction:column;
    align-items:center;
}

@media only screen and (min-width:768px){
    .product-details-text{
        margin-top:-20px;
        padding-left:42px;
    }
}


@media only screen and (min-width:1024px){
    .product-details-text{
        margin-top:10px;
        padding-left:42px;
    }
}

@media only screen and (min-width:1200px){
    .product-details-text{
        margin-top:150px;
        padding-left:42px;
    }
}