.ncm-100-img{
    width:100%;
    height:100%;
}

.product-details-yellow{
    background-color:#EAA921;
}

.product-details-text{
    margin-top:150px;
    padding-left:42px;
}

.in-test-img{
    margin-right:42px;
}

.key-feature-item{
    margin-bottom: 30px;
}

.key-feature-item-text{
    display: flex;
    align-items: center;
    font-family: 'FuturaStd',sans-serif;
}

.key-feature-item-icon{
    width:100%;
}

.recommend-img{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ncm-know-more-image{
    width:80%;
    margin-top: 58px;
}

.ncm-100-know-more-icon{
    width:50px;
    display: inline-block;
}

.ncm-100-know-more-icon-text{
    display: inline-block;
    margin-left:10px;
}


.ncm-know-more-content{
    margin-top:10px;
    padding:42px;
}

.responsive-margin{
    margin-left:12px;
}

.mobile-bottom-margin{
    margin-bottom:20px;
}

@media only screen and (min-width:320px){
    .product-details-text{
        margin-top:10px;
        padding-left:12px;
        margin-bottom:30px;
    }
}

@media only screen and (min-width:768px){

    
    .product-details-text{
        margin-top:150px;
        padding-left:42px;
        margin-bottom:0px;
    }

    .ncm-know-more-content{
        margin-top:50px;
        padding:42px;
    }

    .responsive-margin{
        margin-left:42px;
    }

    .mobile-bottom-margin{
        margin-bottom:0px;
    }
}

@media only screen and (min-width:768px){
    .product-details-text{
        margin-top:-20px;
        padding-left:42px;
    }
}


@media only screen and (min-width:1024px){
    .product-details-text{
        margin-top:10px;
        padding-left:42px;
    }
}

@media only screen and (min-width:1200px){
    .product-details-text{
        margin-top:150px;
        padding-left:42px;
    }
}