.product-nav{
    margin: 80px 0px 10px 0px;
}

.product-nav-item{
    color:#fff;
    text-decoration: none;
    font-family: "FuturaStd", sans-serif;
    margin: 42px 100px 42px 0;
    font-size: 16px;
    
}

.product-nav-item:first-of-type{
    margin-left:42px;
}

.product-nav-item:hover{
    color:#fff;
    border-bottom: 2px solid #fff;
}

@media only screen and (min-width:375px){
    .product-nav-item{
        display:block;
        margin: 12px 12px 12px 12px;
        font-size: 14px;
        width: fit-content;
    }

    .product-nav-item:first-of-type{
        margin-left:12px;
    }
}


@media only screen and (min-width:768px){
    .product-nav-item{
        display:inline-block;
        margin: 20px 20px 20px 0;
        font-size: 14px;
    }

    .product-nav-item:first-of-type{
        margin-left:42px;
    }
}

@media only screen and (min-width:1024px){
    .product-nav-item{
        margin: 20px 50px 20px 0;
        font-size: 16px;
    }

    .product-nav-item:first-of-type{
        margin-left:42px;
    }
}

@media only screen and (min-width:1200px){
    .product-nav-item{
        margin: 42px 100px 42px 0;
        font-size: 16px;
    }
}