
.footer-end{
    width:100%;
    min-height:300px;
    background-color: #005d2e;
    box-sizing:border-box;
    overflow: hidden;
}

.footer-end-logo-top {
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.footer-end-logo-bottom {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: right;
    color: #fff;
    position: relative;
    top:-10px
}

.footer-end-logo-container {
    display: inline-block;
    margin-left: 82px;
    cursor: pointer;
    margin-top: 51px;
    text-align: left;
    box-sizing:border-box;
}

@media (max-width:768px){
    .footer-end-logo-container{
        margin-left: 20px;
    }
}

.footer-end-title{
    font-family: "FuturaStd", sans-serif;
    color:#fff;
    margin: 60px 0 22px 0;
    display: block;
    text-decoration:none;
}

.footer-end-title:hover{
    color:#fff;
}

.footer-end-item{
    font-family: "FuturaStd", sans-serif;
    color:#fff;
    margin:0 0 15px 0;
    display: block;
    text-decoration: none;
    font-size: 14px;
    box-sizing:border-box;
}

.footer-end-item:hover{
    color:#ccc;
}

.footer-end-small-text{
    font-family: "FuturaStd", sans-serif;
    color:#fff;
    font-size:11px;
    display: inline-block;
    box-sizing:border-box;
    text-decoration:none;
    
}

.footer-end-small-text:hover{
    color:#ccc;
}

.terms-text{
    margin-left:82px;
    box-sizing:border-box;
    text-decoration:none;
}

.copyright-text{
    margin-left:10px;
}

@media (max-width:768px){
    .terms-text{
        margin-left: 20px;
    }

    .copyright-text{
        margin-left: 20px;
        padding-bottom: 42px;
    }
}

.footer-end-bottom{
    width:100%;
    margin-top:40px;
    box-sizing:border-box;
}

.social-links-item{
    margin-left:15px;
}

.social-links-item:first-of-type{
    margin-left:0;
}

@media (max-width:768px){
    .footer-end-group{
        padding-left:30px;
    }
}