.section12{
    margin:50px 0 50px 80px;
    position: relative;
    overflow: hidden;
}

.section12 .default-text{
    font-size: 12px;
    font-weight: bold;
}

.cert-icon{
    height:45px;
    margin-right: 20px;
}

.cert-icon-small{
    height:30px;
}

.section12-leaf{
    width:350px;
    position: absolute;
    right:-80px;
    top:-100px;
    transform: rotate(-70deg);
    animation-name: s12-leaf-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;   
}

@keyframes s12-leaf-anim {
    0% {
        transform: rotate(-70deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(-70deg);
    }
}

@keyframes s12-leaf-anim-mobile {
    0% {
        transform: rotate(-80deg);
    }
    50% {
        transform: rotate(-70deg);
    }
    100% {
        transform: rotate(-80deg);
    }
}

@media (max-width:576px){
    .section12{
        margin: 10% 0 0 5%;
    }

    .section12 .title-text{
        margin-top:100%;
    }

    .section12 .default-text{
        font-size: 10px;
    }

    .cert-icon-small{
        height:20px;
    }

    .section12-leaf{
        width:50%;
        animation-name: s12-leaf-anim-mobile;
    }


}