.certif-img{
    width:70px;
}

@media (max-width:768px){
    .certif-img{
        width:70px;
        margin-bottom: 20px;
        position: relative;
        left:10px;
    }
}

@media (min-width:1024px){
    .certif-img{
        width:70px;
    }
}

@media (min-width:1200px){
    .certif-img{
        width:90px;
    }
}