.footer{
    overflow: hidden;
}

.footer-left{
    background:url(Untitled-2.png);
    background-size: cover;
}

.footer-left .content-container{
    padding:100px 0 100px 82px;
    box-sizing:border-box;
}

.form-field-validation{
    display:none;
    height:auto;
    width:fit-content;
    font-size: 10px;
    color: red;
    background: #f2dede;
    color: #a94442;
    padding: 2px 2px 2px 2px;
    float: left;
}

@media (max-width:768px){
    .footer-left .content-container{
        padding-left: 20px;
    }
}

.form-container{
    margin:32px 5% 0 5%;
}

.form-field{
    margin-bottom: 42px;
    border-color: #ccc;
}

.form-field:last-of-type{
    margin-top: 72px;
    margin-bottom: 42px;
}

.form-field::placeholder{
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 12px;
}

.form-container>.default-button{
    margin-bottom: 32px;
}
@media(max-width:568px){
    .form-container{
    margin:4% 2% 0 5%;
}
    
}