

.globeimage{
    
    width: 600px;
    margin-top: 12%;
    margin-left: 15%;
    height: auto;

}

.section5-content-container{
    width:600px!important;
    margin:250px 0 0 0;
    padding: 0 80px 0 0;
}