

.globeimage{
    
    width: 100%;
    margin-top: 12%;
    margin-left: 15%;
    height: auto;

}

.section5-content-container{
/*    width:1px!important;*/
    margin:30% 0 0 0;
    padding: 0 5% 0 0;
}

@media (max-width:786px){
    .globeimage{
         margin-top: 15%;
         width: 65%
    }
    .section5-content-container{
         padding:5% 5% 0 5%;
        margin:0 0 0 0;
    }
    
}