.section12{
    margin:50px 0 50px 80px;
    position: relative;
    overflow: hidden;
}

.section12 .default-text{
    font-size: 12px;
    font-weight: bold;
}

.cert-icon{
    height:45px;
    margin-right: 20px;
}

.cert-icon-small{
    height:30px;
}

.section12-leaf{
    width:350px;
    position: absolute;
    right:-80px;
    top:-100px;
    transform: rotate(-70deg);
    animation-name: s12-leaf-anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;   
}

@keyframes s12-leaf-anim {
    0% {
        transform: rotate(-70deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(-70deg);
    }
}