.about-section6-image{
    width:800px;
}

.about-section6-content-container{
    margin:30% 0 0 80px;
    width:60%;
}

@media (max-width:576px){
    .about-section6-content-container{
        margin:30% 0 10% 5%;
        width:320px;
    }   
}