
@font-face {
  font-family: Analogue45Light;
  src: url(/src/fonts/Analogue45Light.ttf);
}

@font-face {
  font-family: FuturaStd;
  src: url(/src/fonts/FuturaStd-Book.otf);
}

@font-face {
  font-family: GARA;
  src: url(/src/fonts/GARA.TTF);
}

@font-face {
  font-family: MayekaLight;
  src: url(/src/fonts/Mayeka_Light\ Demo.otf);
}

.green{
  color:#005d2e;
  border-color:#005d2e !important;
}

.white{
  color:#fff;
  border-color:#fff !important;
}

.grey{
  color:#666;
  border-color:#666;
}

.default-button{
  background-color: rgba(255,255,255,0);
  padding:10px 15px;
  display: flex;
  font-family: 'FuturaStd', sans-serif;
  font-size:16px;
  border:1px solid #000;
  letter-spacing: 1px;
}

.title-text{
  font-size: 50px;
  font-family: 'FuturaStd', sans-serif;
  letter-spacing: 5px;
  display: block;
}

.default-text{
  font-size: 14px;
  font-family: 'FuturaStd', sans-serif;
  letter-spacing: 1px;
  display: block;
  margin:20px 0 20px 0;
}

.align-right{
  text-align: right;
}

.float-right{
  float:right;
}

.content-container{
  width:500px;
}

.section{
  width:100vw;
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}