@font-face {
  font-family: FuturaStd;
  src: url(/src/fonts/FuturaStd-Book.otf);
}

.green {
  color: #005d2e;
  border-color: #005d2e !important;
}

.green-bg {
  background-color: #005d2e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  color: #fff;
  border-color: #fff !important;
}

.white-bg {
  background-color: #fff;
}

.grey {
  color: #58595B;
  border-color: #58595B;
}

.black{
  color: #000;
  border-color: #000;
}

.default-button {
  background-color: rgba(255, 255, 255, 0);
  padding: 16px;
  display: flex;
  font-family: 'FuturaStd', sans-serif;
  font-size: 18px;
  border: 1px solid #000;
  letter-spacing: 0.1em;
  text-decoration: none;
  width: fit-content;
}

.default-button:hover {
  background-color: #00b307;
  color: #005d2e;
  border-color: #005d2e;
}

.default-styled-text {
  font-family: 'FuturaStd', sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.bottom-spacing-30{
  margin-bottom:30px;
}

.top-spacing-30{
  margin-top:30px;
}

.flex-column{
  flex-direction:column!important;
}

@media (max-width:768px){
  .default-styled-text {
    font-size: 12px;
  }
}

.responsive-text{
  font-size:16px;
}

@media (max-width:768px){
  .responsive-text{
    font-size: 12px;
  }
}

.title-text {
  font-size: 60px;
  font-family: 'FuturaStd', sans-serif;
  display: block;
  line-height: 70px;
  text-decoration: none;
  width:100%;
}

.heading-20{
  font-size:20px !important;
}

.fit-content{
   min-height:fit-content!important;
}

@media (max-width:768px){
  .title-text{
    line-height: 35px;
  }
}

.title-text:hover {
  text-decoration: none;
  color: #005d2e;
}

.sub-title-text {
  font-size: 30px;
  font-family: 'FuturaStd', sans-serif;
  display: block;
}

.default-text {
  font-size: 15px;
  font-family: 'FuturaStd', sans-serif;
  letter-spacing: 0.1em;
  display: block;
  margin: 20px 0 20px 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center!important;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%!important;
}

.content-container {
  width: 100%;
}

.section {
  /*  width:100vw;*/
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.popup-section {
  width: 768px;
  box-sizing: border-box;
  padding: 47px 47px 31px 47px;
  margin: 47px 0 31px 0;
}

.margin-left{
  margin-left: 82px;
}

.margin-left-42{
  margin-left: 42px;
}

.margin-left-20{
  margin-left:20px;
}

.margin-right{
  margin-right: 82px;
}

.margin-auto{
  margin:0 auto 0 auto;
}

.flex-center{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

@media (max-width:768px) {
  .popup-section {
    width: 320px;
    padding-left: 10px;
    padding-right: 20px;
  }
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid #666;
  width: 95%;
  font-family: 'FuturaStd', sans-serif;
  padding: 5px 10px;
  outline: none;
}

@media (max-width: 768px) {
  .default-text {
    font-size: 12px;
    text-align: left;
  }
  .title-text {
    font-size: 30px;
    text-align: left;
  }
  .mobileHide {
    display: none;
  }
  .float-right {
    float: left;
  }
  .section {
    margin-bottom: 0%;
  }
}

@media (max-width: 1200px) {
  .section {
    min-height: 100vh;
  }
}