
@font-face {
  font-family: FuturaStd;
  src: url(/src/fonts/FuturaStd-Book.otf);
}

.green {
  color: #005d2e;
  border-color: #005d2e !important;
}

.green-bg{
  background-color:#005d2e;
  display:flex;
  align-items:center;
  justify-content:center;
}

.white {
  color: #fff;
  border-color: #fff !important;
}

.grey {
  color: #58595B;
  border-color: #58595B;
}

.default-button {
  background-color: rgba(255, 255, 255, 0);
  padding: 16px;
  margin:42px 0 42px 0;
  display: flex;
  font-family: 'FuturaStd', sans-serif;
  font-size: 18px;
  border: 1px solid #000;
  letter-spacing: 0.1em;
  text-decoration: none;
  width: fit-content;
}

.default-button:hover{
  background-color: #00b307;
  color:#005d2e;
  border-color: #005d2e;
}

.default-styled-text{
  font-family: 'FuturaStd', sans-serif;
  text-decoration:none;
}

.title-text {
  font-size: 60px;
  font-family: 'FuturaStd', sans-serif;
  display: block;
}

.sub-title-text {
  font-size: 30px;
  font-family: 'FuturaStd', sans-serif;
  display: block;
}

.default-text {
  font-size: 15px;
  font-family: 'FuturaStd', sans-serif;
  letter-spacing: 0.1em;
  display: block;
  margin: 20px 0 20px 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center!important;
}

.float-right {
  float: right;
}



.full-width{
  width:100%!important;
}

.content-container {
  width: 100%;
}

.section {
  /*  width:100vw;*/
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid #666;
  width: 100%;
  font-family: 'FuturaStd', sans-serif;
  padding: 5px 10px;
  outline: none;
}


@media (max-width: 768px) {
  .default-text {
    font-size: 12px;
    text-align: left;
  }
  .title-text {
    font-size: 30px;
    text-align: left;
  }

  .mobileHide {
    display: none;
  }
  .float-right {
    float: left;
  }

  .section{
    margin-bottom:5%;
  }
}

@media (max-width: 1200px) {
  .section {
    min-height: 100vh;
  }
}