.solid-bg-purple {
    background-color: #a05cbf;
}

.solid-bg-blue {
    background-color: #407c8d;
}

.section11-carousel-item {
    display: none;
}

.section11-carousel-item:first-of-type {
    display: block;
}

.bottleImage {
    display: block;
    width: 50%;
    margin: 20% 0 20% 35%;
}

.bottle-image-small {
    display: block;
    width: 250px;
    margin: 18% 0 20% 38%;
}

.section11-carousel-item .content-container {
    margin: 40% 0 0 20%;
    width: 300px;
    height: 50vh;
}

@media(max-width:568px) {
    .bottleImage {
        width:220px;
        margin: 20% auto 20% auto;
    }

    .bottle-image-small {
        width: 179px;
        margin: 18% auto 20% auto;
    }
    .section11-carousel-item .content-container {
        margin:20% 0 10% 15%; 
        width: 320px;
        height: 20vh;
    }
}