.landing-section1{
    width:fit-content;
    margin: 0 auto 0 auto;
}

.leaf-anim-container{
    position: relative;
    display: inline-block;
    width:600px;
}
.leaf-static-img{
    width:300px;
    position: absolute;
    top:50px;
    left:0;
    z-index: 10;
}

.leaf-anim-img{
    width:300px;
    position: absolute;
    top:170px;
    left:220px;
    transform: rotate(50deg);
    z-index: 11;
    animation-name: leaf-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes leaf-anim{
    0%  {transform: rotate(50deg);}
    50%  {transform: rotate(30deg) translateX(-100px) translateY(-20px);}
    100%  {transform: rotate(50deg);}
}

.landing-section1-text1{
    display: inline-block;
    width:320px;
    font-size:60px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top:500px;
    color: #005d2e;
    letter-spacing: 5px;
    padding:0 50px 0 0;
}

.landing-section1-text2{
    display: inline-block;
    width:200px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top:500px;
    font-size: 14px;
    color:#666;
}