.leaf-anim-container {
    position: absolute;
    display: inline-block;
    width: 600px;
    bottom:0;
    transform: translateY(-600px);
}

.leaf-static-img {
    width: 300px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
}

.leaf-anim-img {
    width: 300px;
    position: absolute;
    top: 157px;
    left: 192px;
    transform: rotate(50deg);
    z-index: 11;
    animation-name: leaf-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes leaf-anim {
    0% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(30deg) translateX(-100px) translateY(-20px);
    }
    100% {
        transform: rotate(50deg);
    }
}

.landing-section1-text1 {
    display: block;
    margin: 80% 0 0 80px;
}

.landing-section1-text2 {
    display: block;
    margin: 112% 80px 0 0;
}