.leaf-anim-container {

    position: absolute;
    margin-left: 5%;

}

.leaf-static-img {
    max-width: 71%;
    max-height: 100vh;
    margin-top: 10%;
    display: inline-block;

}

.leaf-anim-img {
    max-width: 71%;
    max-height: 100vh;
    margin-top: -80%;
    margin-left: 40%;
    display: inline-block;
    transform: rotate(50deg);
    z-index: 11;
    animation-name: leaf-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes leaf-anim {
    0% {
        transform: rotate(50deg);
    }

    50% {
        transform: rotate(30deg) translateX(-100px) translateY(-20px);
    }

    100% {
        transform: rotate(50deg);
    }
}

.landing-section1-text1 {
    display: block;
    margin: 90% 0 0 80px;
}

.landing-section1-text2 {
    display: block;
    margin: 130% 80px 0 0;
    text-align: center;
}

.mobileOnly {
    display: none;
}


@media (max-width: 576px) {
    .leaf-anim-container {
        margin-top: 15%;
    }

    .landing-section1-text1 {
        margin: 30% 0 0 0;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%
    }

    .landing-section1-text2 {
        display: block;
        margin: 1% 0 0 0;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%
    }

    .leaf-static-img {
        max-width: 54%;
    }

    .leaf-anim-img {
        max-width: 54%;
        margin-left:
    }
}
