.nav {
    /*    margin: 2% 0 0 5%;*/
    position: fixed;
    z-index: 100;
}

.nav-logo-top {
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #005d2e;
}

.nav-logo-bottom {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: right;
    color: #005d2e;
    position: relative;
    top: -10px
}

.nav-logo-container {
    display: inline-block;
    margin-left: 82px;
    cursor: pointer;
}

@media (max-width:768px){
    .nav-logo-container{
        margin-left: 20px;
    }
}

.navbar-light .navbar-toggler{
    border:none;
    outline: none;
}

.navbar-light .navbar-toggler:active{
    border:none;
    outline: none;
}

.nav-items-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 14px;
}

.nav-items-right {
    position: absolute;
    right: 82px;
    top: 30px;
}

@media (max-width:768px){
    .nav-items-right{
        right:60px;
    }
}

.nav-item {
    display: inline-block;
    font-family: 'FuturaStd', sans-serif;
    text-decoration: none;
    color: #666;
    margin-left: 24px;
    font-size: 13px;
    letter-spacing: 0.1em;
}

.nav-item:hover {
    border-bottom: 2px solid #005d2e;
    color: #666;
}

.nav-item:active {
    border-bottom: 2px solid #005d2e;
    color: #005d2e;
    font-weight: bold;
}

.mobileHide {
    display: inline-block;
}

.nav-item:first-of-type {
    margin-left: 56px;
}

.nav-mega-menu {
    display: none;
    height: fit-content;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
}

.mega-menu-row1 {
    padding: 120px 82px 38px 82px;
    box-sizing: border-box;
}

.mega-menu-row2 {
    padding: 0 82px 38px 82px;
    box-sizing: border-box;
}

.nav-mega-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: #005d2e;
}

.mega-menu-btn-txt {
    color: #fff;
    text-decoration: none;
    font-family: 'FuturaStd', sans-serif;
    display: block;
    font-size: 15px;
}

@media only screen and (min-width:375px) {
    .nav-menu-title {
        font-size: 20px;
    }
    .mega-menu-margin {
        margin-top: 20vh;
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 768px) {
    .nav-item {
        font-size: 10px;
    }
    .nav-item:first-of-type {
        margin-left: 23px;
    }
    .nav-items-container {
        top: 0px;
    }
    .mobileHide {
        display: none;
    }
}