.nav {
    margin: 2% 0 0 5%;
    position: fixed;
    z-index: 100;
}

.nav-logo-top {
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #005d2e;
}

.nav-logo-bottom {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: right;
    color: #005d2e;
    position: relative;
    top:-10px
}

.nav-logo-container {
    display: inline-block;
}

.nav-items-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 14px;
}

.nav-item {
    display: inline-block;
    font-family: 'FuturaStd', sans-serif;
    text-decoration: none;
    color: #666;
    margin-left: 25px;
    font-size: 13px;
    letter-spacing: 1px;
}

    .mobileHide{
    display: inline-block;
}

.nav-item:first-of-type{
    margin-left:50px;
}
@media (max-width: 768px ) { 
    .nav-item {
        font-size: 10px;
    }
    .nav-item:first-of-type{
    margin-left:2px;
}
    .nav-items-container {
        top: 0px;
    }
    .mobileHide{
    display: none;
}

}